Auth Forms
.auth-container {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
}

.auth-content {
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 80%;
    margin: 5% auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.auth-left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-right {
    flex: 1;
    background-color: #E2E5D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.auth-right .logo {
    font-size: 36px;
    margin-bottom: 30px;
}

.auth-message {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    font-style: italic;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    /* display: block; */
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #B15836;
}