<div class="main-container">
  @if (showHeader) {
    <div class="header">
      <div class="header-content">
        <div class="principal-logo">

        </div>
        <div class="header-right">
          <div *ngIf="!isLoggedIn">
        
            <button routerLink="/log-in" class="btn">Iniciar sesión</button>
            <button routerLink="/register" class="btn">Registrarse</button>
          </div>
          <button class="cart-icon" routerLink="/cart"> 🛒 <span class="cart-count">{{ cartCount }}</span> </button>
          <div class="ShowLog-in">
          <div *ngIf="isLoggedIn">
            <button routerLink="/profile" class="btn">Perfil</button>
            <button routerLink="/order" class="btn">Mis pedidos</button>   
          </div>
          </div>
        </div>
      </div>
    </div>
  }
  <router-outlet></router-outlet>
</div>

